<body id="page-top" class="index">
    <%= render 'layouts/header_homepage' %>
  <% if signed_in? %>
  <!-- <div class="row">
    <aside class="span4">
      <section class="show">
        <%= render 'shared/user_info' %>
      </section>
      <section class="show">
        <%= render 'shared/stats' %>
      </section>
      <sectionclass="show">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div> -->
<div class="container">

        <div role="main">
            <div class="row">

                <p class="no-bradcrumbs"/></p>

                <section id="section_avatar" class="span4">

                    <article class="element-box">

                        <header class="element-top-bar clearfix" style="background-image:none;">
                            <%= link_to current_user.name, current_user , class: "user-info fl" %>
                        </header>
                        <figure>
                                <img src="<%= current_user.avatar.url(:medium) %>" alt="image" style="width:380px;">
                        </figure>

                        <div class="element-profile-line">
                        <table>
                            <tr>
                                <th> <a>Группа:</a> </th>
                                <th> <a><%= current_user.group %></a> </th>
                            </tr>
                            <tr>
                                <th> <a>Факультет:</a> </th>
                                <th> <a>ФКСиС</a> </th>
                            </tr>
                            <tr>
                                <th> <a>Специальность:</a> </th>
                                <th> <a>ВМСиС</a> </th>
                            </tr>
                            <tr>
                                <%= render 'shared/stats' %>
                            </tr>
                        </table>
                        </div>

                    </article> <!-- /.element-box [image]-->

                </section> <!-- /.span9 [main content] -->

                <section id="section_labs" class="span4">

                    <div class="sidebar-element">

                        <h3>Лабораторные</h3>

                        <ul class="category-list">
                            <li class="blue-bage">
                                <h3>
                                    <a href="#">ТРиТПО</a>
                                </h3>
                                <span></span>
                                <div class="square-active"></div>
                                <div class="addButton">+</div>
                                    <p></p>
                                <div class="deleteButton">-</div>
                            </li>
                            <li class="red-bage">
                                <h3>
                                    <a href="#">АКСиС</a>
                                </h3>
                                <span></span>
                                <div class="square-active"></div>
                                <div class="addButton">+</div>
                                    <p></p>
                                <div class="deleteButton">-</div>
                            </li>
                            <li class="green-bage">
                                <h3>
                                    <a href="#">ЦОСиИ</a>
                                </h3>
                                <span></span>
                                <div class="square-active"></div>
                                <div class="addButton">+</div>
                                    <p></p>
                                <div class="deleteButton">-</div>
                            </li>
                        </ul>
                    </div> <!-- /.sidebar-element -->

                    <div class="sidebar-element" style="margin-top: -19px;">

                        <div id="calendar_wrap">
                            <table id="wp-calendar">
                                <caption>
                                    <a href="#" id="prev" style="padding-left: 25px;">&lsaquo;</a>
                                    <span style="padding-left: 43%;">Март</span>
                                    <a href="#" id="next" style="padding-left: 25px;">&rsaquo;</a>
                                </caption>

                                <thead>
                                    <tr>
                                        <th scope="col" title="Monday">Пн</th>
                                        <th scope="col" title="Tuesday">Вт</th>
                                        <th scope="col" title="Wednesday">Ср</th>
                                        <th scope="col" title="Thursday">Чт</th>
                                        <th scope="col" title="Friday">Пт</th>
                                        <th scope="col" title="Saturday">Сб</th>
                                        <th scope="col" title="Sunday">Вс</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td colspan="4" class="pad">&nbsp;</td><td>1</td><td>2</td><td>3</td>
                                    </tr>
                                    <tr>
                                        <td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td>
                                    </tr>
                                    <tr>
                                        <td>11</td><td>12</td><td>13</td><td><a href="#">14</a></td><td>15</td><td>16</td><td>17</td>
                                    </tr>
                                    <tr>
                                        <td>18</td><td>19</td><td><a href="#">20</a></td><td>21</td><td>22</td><td>23</td><td>24</td>
                                    </tr>
                                    <tr>
                                        <td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- /.calendar_wp -->

                    </div><!-- /.sidebar-element -->

                </section> <!-- /.span3 [sidebar] -->

                <section id="section_form"class="span4">

                  <article class="element-box" style="min-height: 210px;">
                    <header class="element-top-bar clearfix" style="background-image:none;">
                          <div class="post-tab">
                            <a class="message-info fl" onclick="changeTab(this);">Новое сообщение</a>
                            <!-- <b class="time-info fr">17:30 PM</b> -->
                          </div>
                          <div class="post-tab">
                            <a class="message-info fl" onclick="changeTab(this);">Новый опрос</a>
                            <!-- <b class="time-info fr">17:30 PM</b> -->
                          </div>
                    </header>
                    <%= render 'shared/micropost_form' %>

                  <div class="vote-field">
                    <textarea placeholder="Введите вопрос..." id="vote_content"></textarea>
                    <input type="submit" id="addButtonVote" class="btn btn-large btn-primary btn_micpost" value="Добавить вариант" onclick="addVoteOption()"></input>
                    <input type="submit" id="removeButtonVote" class="btn btn-large btn-primary btn_micpost" value="Удалить вариант" onclick="removeVoteOption()"></input>
                    <input type="text" class="vote-option"></input>
                    <input type="submit" id="acceptVote" value="Опубликовать" class="btn btn-large btn-primary btn_micpost"></input>
                  </div>


                </article>

                </section>

            </div> <!-- /.row -->

        </div> <!-- /main role -->

    </div> <!-- /.container [main] -->

<% else %>
<body style="background: none;">
    <!-- Header -->
    <header style="margin-left: -15%; margin-right: -15%;">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Добро пожаловать на Bsuir Connect</div>
                <div class="intro-heading">Присоединяйся к нам</div>
                <!-- <a href="#services" class="page-scroll btn student-btn btn-primary btn-xl ">Я Студент</a> -->
                <%= link_to "Регистрация", signup_path, class: "page-scroll btn student-btn btn-primary btn-xl" %>
                <!-- <a href="#services" class="page-scroll btn teacher-btn btn-xl ">Я Преподаватель</a> -->
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services" style="margin-left: -15%;margin-right: -15%;padding: 100px 0;" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Возможности</h2>
                    <h3 class="section-subheading text-muted">Для русского языка нету красивых шрифтов</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Статистика успеваемости</h4>
                    <p class="text-muted">Следи за своим прогрессом, отмечай выполненные лабораторные работы.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Интересные университетские события</h4>
                    <p class="text-muted">Будь в курсе внутренних мероприятий, принимай активное участие в культурной жизни университета.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-list fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Органайзер</h4>
                    <p class="text-muted">Делись своими достижениями, интересной и полезной информацией со своими друзьями.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" style="margin-left: -15%;margin-right: -15%;padding: 100px 0;background-color: #f7f7f7;" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Наша команда</h2>
                    <h3 class="section-subheading text-muted">Мы собрались для того, чтобы сделать этот мир лучше</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="<%= asset_path("team/1.jpg") %>" class="img-responsive img-circle" alt="">
                        <h4>Никита Базыльчук</h4>
                        <p class="text-muted">Team Lead</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-vk"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="<%= asset_path("team/2.jpg") %>" class="img-responsive img-circle" alt="">
                        <h4>Владислав Артюхович</h4>
                        <p class="text-muted">Front-end</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-vk"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="<%= asset_path("team/3.jpg") %>" class="img-responsive img-circle" alt="">
                        <h4>Александ Бурый</h4>
                        <p class="text-muted">Back-end</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-vk"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="<%= asset_path("team/4.jpg") %>" class="img-responsive img-circle" alt="">
                        <h4>Вера Кулиш</h4>
                        <p class="text-muted">QA</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-vk"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="<%= asset_path("team/5.jpg") %>" class="img-responsive img-circle" alt="">
                        <h4>Дмитрий Саврицкий</h4>
                        <p class="text-muted">SEO</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-vk"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="<%= asset_path("team/6.jpg") %>" class="img-responsive img-circle" alt="">
                        <h4>Егор Брель</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-vk"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6"></div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://fksis.bsuir.by/">
                        <img src="<%= asset_path("logos/fksis.png") %>" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://bsuir.by/">
                        <img src="<%= asset_path("logos/bsuir.png") %>" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6"></div>
            </div>
        </div>
    </aside>

    <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; BSUIRConnect 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li>
                    </li>
                    <li>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
            <!-- <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><%= link_to "Contact", contact_path %></li>
                    <li><%= link_to "Privacy Policy",   about_path %></li>
                    <li><%= link_to "Terms of Use", contact_path %></li>
                </ul>
            </div> -->
        </div>
    </div>
</footer>
<body>
<%end%>
</body>
