<%= csrf_meta_tags %>
<% provide(:title, @user.name) %>
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
        <div class="navbar-header page-scroll">
            <%= link_to "BSUIR Connect", root_path, class: "navbar-brand page-scroll" , id: "brand"%> 
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Моя страница", root_path %></li>
            <li><%= link_to "Пользователи", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Аккаунт <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Профиль", current_user %></li>
                <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
                <li class="nav-divider"></li>
                <li><%= link_to "Выход", signout_path, method: "delete" %></li>

              </ul> 
            </li> 
        </ul>
    </div>
  </div>
</nav> 

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag @user.avatar.url(:medium) %>
        <%= @user.name %>
      </h1>
    </section>
     <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
